@page
@model ToFood.Pages_Restaurants.NotFoundModel
@{
    ViewData["Title"] = "Restaurant NotFound";
}

<div class="jumbotron">
  <h1 class="display-4">Restaurant Not Found!</h1>
  <a class="btn btn-primary btn-lg" asp-page="./List">See All Restaurants</a>
</div>

